

@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

html { height: 100%; overflow:auto; }
.section-subtitle {
  color: black;
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
  padding-top:10px;
  padding-bottom:10px;
}

.section-title { margin-bottom: 15px; color:black; }

.section-text {
  color: black;
  margin-bottom: 30px;
}
.card-text {
  color: black;
  font-size: var(--fs-5);
}


/* font-family: 'Big Shoulders Text', cursive; */
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  padding:25px;
  margin: 0;
  height:100%;
}

.about-discover {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    color: #000;
    font-size: 0.75em;
    padding: 50px 30px;
}

.link {
    color: black;
    display: block;
    background-color: white;
    opacity:0.75;
    font-size:1.25em;
    border: 2px solid black;
    border-radius:5px;
    padding: 5px 10px;
}

.container-title {
  background-size: cover;
  opacity: 0.75;
  color: black;
  padding:10px;
  padding-top:75px;
  border-radius: 5px;
  font-size: 1em;
}

.container {
  background-size: cover;
  opacity: 0.75;
  color: black;
  padding:10px;
  border-radius: 5px;
  font-size: 1em;
}

.container h1 {
  text-align: center;
  color: black;
  font-size: 3em;
  font-weight: 700;
}

a.link:hover {
    background-color: black;
    color: #ffffff;
    text-decoration: none;
}

.about-discover p,
.about-discover h3 {
  padding-bottom: 25px;
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.8em;
}
.row-flex {
  color:black;
    display: flex;
    flex-direction: row;
}

.flex-column-form {
  color:black;
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 30px 20px;
}

.btn.btn-primary {
    background-color: var(--spanish-gray);
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}
.clublist-card {
  position: relative;
  max-height: 120px;
  min-height: 90px;
  border-radius: var(--radius-25);
  overflow: hidden;
}

.clublist-card .card-img {
  width: 100%;
  padding-bottom: 85%; 
  position: relative;
  overflow: hidden;
}

.clublist-card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clublist-card .card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 120px;
  min-height: 90px;
  background: var(--white);
  opacity: 0.95;
  border-radius: var(--radius-25);
  padding: 10px;
  margin:10px;
}

.clublist-card .card-subtitle {
  color: var(--spanish-gray);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}


.grid-clublist {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 10px;
}

.page-numbers {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.page-numbers li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 0;
}

.pagination li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.pagination li a {
    font-family: 'Big Shoulders Text', cursive;
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.pagination li.active a {
  background-color: #747474; 
}