/* favorites.css */

/* Flex container for the page */


.venue-list {
  background-color: black;
  color: white;
  list-style-type: none; /* Remove bullet points */
  padding: 10px; /* Add some padding for spacing */
}

.favorite-container {
    display: flex;
  }
  
  /* Left content div */
  .left-content {
    flex: 1;
  }
  
  /* Right content div (button) */
  .right-content {
    /* Add any styles you want for the right content here */
    flex: 1;
  }
  