
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding:25px;
  }


.nav-flex-row {
  background-color: var(--spanish-gray);
  background-size: cover;
  opacity: 0.75;
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}
.intro {
  background-size: cover;
  display:block;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  padding: 25px;
}

