.network-error-container {
    text-align: center;
    padding: 40px; /* Increase padding for additional vertical space */
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    margin: 20vh auto; /* Adjust margin for vertical positioning */
  }
  
  .network-error-title {
    font-size: 2em;
    color: #747474;
    padding: 20px;
  }
  
  .network-error-message {
    color: #747474;
    padding: 20px;
  }
  
  .network-error-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #e24e99;
    color: #fff;
  }
  