.not-found-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px; /* Adjust the max-width to your desired value */
    width: 100%; /* Set width to 100% to take up the entire width */
    margin: 0 auto;
  }
  
  .not-found-title {
    font-size: 1.5em;
    color: blue; /* Set title color to blue */
  }
  
  .not-found-message {
    color: blue; /* Set message color to blue */
  }
  
  .not-found-button {
    padding: 10px;
    margin-top: 10px;
    /* Add any specific button styles here */
  }
  