/* Safety.css */

.intro-container {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    color: #fff;
  }
  
  .intro-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .intro-container p {
    font-size: 16px;
    margin: 0;
  }
  
  .selected-clubs-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .selected-clubs-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }
  
  .selected-clubs-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  .selected-clubs-container li {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .send-email-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .venues-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }
  
  .venues-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  .venues-container li {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  