
.action-box {
  padding: 10px; 
  margin: 10px; 
  display: inline-block; 
  border-radius: 5px; 
}

.main-box{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.para{
text-align: center;
color: black;
width: 100%;
padding: 20px;
font-size: 2em;
}

.nearMe{
color: black;
text-align: center;

}

.para{
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 2em;
}

.nearMe{
  color: black;
  text-align: center;

}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.addressColumn {
  width: 25%;
}

.nameColumn{
  width:15%;
}


tr:nth-child(even) {background-color: #f2f2f2;}

.grid-map{
  display: grid;
  grid-template-columns: 50% 50%;
}