body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.search-container{
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px; 
  margin: 10px; 
  border-radius: 10px; 
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.addressColumn {
  width: 25%;
}

.nameColumn{
  width:15%;
}


tr:nth-child(even) {background-color: #f2f2f2;}

.grid-map{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-button{
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-gap: 10px;
  padding:10px;
}
