
.search-container{
  padding: 20px; 
  margin: 10px; 
  border-radius: 10px; 
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.addressColumn {
  width: 25%;
}

.nameColumn{
  width:15%;
}


tr:nth-child(even) {background-color: #f2f2f2;}

.grid-map{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-button{
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-gap: 10px;
  padding:10px;
}
