/* Special.css */

/* Reset and basic styles */

body {
  font-family: var(--ff-poppins);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Event container styles with light purple background */

.event-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #747474;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like effect */
}

.event-container h1 {
  font-size: var(--fs-1);
  color: var(--black);
  margin-bottom: 20px;
}

.event-container ul {
  color: var(--black);
}
/* Event list item styles */

.event-container li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

/* Event item left side styles */

.event-container .event-left {
  background: var(--black);
  color: var(--white);
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  margin-right: 20px;
}
.event-container .event-left h1 {
  font-size: 28px;
}

.event-container .event-left p {
  font-size: 14px;
  margin-top: 5px;
}

/* Event item right side styles */

.event-container .event-date {
  flex-grow: 1;
}

.event-container .event-date h1 {
  font-size: var(--fs-3);
  margin-bottom: 5px;
}

.event-container .event-description {
  font-size: var(--fs-5);
}

