/* Special.css */

/* Reset and basic styles */

body {
  font-family: var(--ff-poppins);
  background: var(--white);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Event container styles with light purple background */

.event-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(200, 150, 255, 0.9); /* Light purple background color with transparency */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a card-like effect */
}

.event-container h1 {
  font-size: var(--fs-1);
  color: var(--black);
  margin-bottom: 20px;
}

.event-container ul {
  color: var(--black);
}