
.event-container {
  font-family: "Roboto", sans-serif;
  width: 800px;
  margin: 0 auto;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  color:#000;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  height:150px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  background-image: #fff;
  display: flex;
  color: #000;
  height:150px;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #ffffff;
  background-color: #747474;
  border-radius:25px;
  padding:10px;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background-color:#747474;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}