.test-component{
    body{
        color: #000;
    }
    button {
        padding: 5px;
        background-color: #cfeed6;
        border-radius: 10%;
        margin: 5px;
        color: #000;
      }
      
      button:hover {
        background-color: #cfeed67f;
        color: #000;
      }
      
      .card {
        padding: 20px;
        width: 100%;
        background-color: rgb(255, 215, 175);
        margin: 10px 0;
        color: #000;
      }
      
      .close {
        border: none;
        padding: 10px;
        background-color: #cfeed6;
        margin: 0 10px;
        color: #000;
      }
      
      .tag-filter {
        position: relative;
        justify-content: center;
        padding: 20px 10px;
        color: #000;
      }
      
      .tags-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 300px;
        color: #000;
      }
      
      /* unique-tags.css */

    .unique-tags {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }
  
}